
.vs/NLevezinho.Container/v16/
*/Debug/*
NLevezinho.Console/bin/*
NLevezinho.Console/obj/*

NLevezinho.Container/bin/*
NLevezinho.Container/obj/*

NLevezinho.WebProject/bin/*
NLevezinho.WebProject/obj/*
.vs/NLevezinho.Container/DesignTimeBuild/
